body > header {
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
    }

body > footer {
    background-color: greenyellow;
}

body{
    margin: 0;
    background-color: ghostwhite;
}

body > footer > p{
    padding: 16px;
    color: white;
    text-align: center;
}

#logo {
    margin: 0px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

nav > ul{
    list-style: none;
}

#nav-ul{
    display: flex;
    padding: 24px;
    margin: 24px;
    
}

nav > ul > a {
    color: white;
}

main{
    text-align: center;
}

body >section {
    margin: auto;
    width: 60%;
}

#header1 {
    margin: auto;
    width: 20%;
}

p{
    font-size: 15px;
}

#wedo{
    display: flex;
    margin: 0%;
    
    }

#p1{
    border: 1px solid black; 
    border-width: 1px;
}

#p2{
    border: 1px solid black; 
    border-width: 1px;
}

#p3{
    border: 1px solid black; 
    border-width: 1px;
}


body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: black;
    text-decoration: none;
    padding: 24px;
    
    
}